{% load custom_filters %}
{% load i18n %}
<div>
<table class="deck {{ deck|dformat }}">
    <tbody class="deck-header {{ deck|dclass }}">
    <tr>
        <td colspan="3" class="deck-name">
            <span class="deck-name-text">{% if deck.is_named %}{{ deck.name }}{% else %}{{ deck|shortclassname }}-{{ deck.pk }}{% endif %}</span>
            <br>
            <span class="deck-caption">{{ deck|shortclassname }}, {{ deck.deck_format }}, {{ deck.created|date:"d.m.Y" }}</span>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="deck-control">
            <span>
                <button><a role="button" href="{{ deck.get_absolute_url }}">
                    <span class="deck-control-icon" title="{% trans 'Open the detail page' %}">
                        <i class="fas fa-external-link-alt"></i>
                    </span>
                </a></button>
                <button type="button" class="deck-accordion">
                    <span class="deck-control-icon" title="{% trans 'Expand' %}">
                        <i class="far fa-caret-square-down"></i>
                    </span>
                </button>
                <span class="mytooltip">
                  <button type="button" class="copy-deck">
                    <span class="tooltiptext">Copy to clipboard</span>
                    <span class="deck-control-icon"><i class="far fa-copy"></i></span>
                  </button>
                </span>
            </span>
            <form>
                <span style="display: none;">
                    {{ deck.get_deckstring_form.deckstring }}
                    <button type="button">
                        <span class="deck-control-icon" title="{% trans 'Back' %}">
                            <i class="far fa-window-close"></i>
                        </span>
                    </button>
                </span>
            </form>
        </td>
    </tr>
    </tbody>
    <tbody class="deck-cards deck-cards-collapsed">
    {% for card in deck.included_cards %}
    <tr class="{{ card|cclass }} {{ card|rar }} rartext">
        <td class="deck-number-cell" style=""><a href="{{ card.get_absolute_url }}">{{ card.cost }}</a></td>
        <td class="deck-card-cell" style="background: no-repeat 115% 30%/90% url({{ card.thumbnail.url }});">
            <a href="{{ card.get_absolute_url }}">
                {{ card.name|truncatechars:22 }}
                <span class="mobile-tooltip"><img src="{{ card|locrender }}"></span>
            </a>
        </td>
        <td class="deck-number-cell" style=""><a href="{{ card.get_absolute_url }}">{% if card.rarity == 'L' %}&#9733;{% else %}{{ card.number }}x{% endif %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tbody class="deck-footer {{ deck|dclass }}">
    <tr>
    <td colspan="3">{% trans 'Craft' %}: {{ deck.craft_cost.basic }} | {{ deck.craft_cost.gold }}</td>
    </tr>
    </tbody>
</table>
</div>