{% load i18n %}
<div id="footer">
  <div class="footer-disclaimer">{% trans "This website is not affiliated with Blizzard Entertainment." %}</div>
  <div class="footer-contact" id="contactBtn" data-url="{% url 'contact' %}">
      <button type="button" id="mailBtn" class="form-button form-button-white form-button-wide" onclick="mail()">
          <span class="button-icon"><i class="far fa-envelope"></i></span>
          <span class="button-text">{% trans "Contacts" %}</span>
      </button>
  </div>
</div>
