{% load i18n %}
<div class="topmenu">
    <a href="{% url 'home' %}">{% trans 'Main page' %}</a>
    <a href="{% url 'cards:card_list' %}?collectible=true">{% trans 'Cards' %}</a>
    <div class="topmenu-dropdown">
        <button class="dropbtn" onclick="decksDropdown()">
            <span>{% trans 'Decks' %}</span>
            <span class="dropdown-icon"><i class="far fa-caret-square-down"></i></span>
        </button>
        <div class="dropcontent" id="decksDropdown">
            <a href="{% url 'decks:index' %}">{% trans 'Create' %}</a>
            <a href="{% url 'decks:all_decks' %}">{% trans 'Database' %}</a>
            <a href="{% url 'decks:user_decks' %}">{% trans 'My decks' %}</a>
        </div>
    </div>
    <a href="{% url 'statistics' %}">{% trans 'Statistics' %}</a>
    <a href="{% url 'api_greeting' %}">API</a>
</div>
