{% extends "core/base.html" %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'core/js/multiclass.js' %}?v=2.0.0"></script>
    <script src="{% static 'core/js/clean_search.js' %}?v=2.0.0"></script>
{% endblock %}

{% block page_title %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block search %}
<form class="form-inline" method="get" id="searchForm">
    <div class="row">
        <div class="col">
            <label class="search-form-label">{{ form.name.label }}</label>
            <div class="form-search">{{ form.name }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.collectible.label }}</label>
            <div class="form-search">{{ form.collectible }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.card_type.label }}</label>
            <div class="form-search">{{ form.card_type }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.card_class.label }}</label>
            <div class="form-search">{{ form.card_class }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.card_set.label }}</label>
            <div class="form-search">{{ form.card_set }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.rarity.label }}</label>
            <div class="form-search">{{ form.rarity }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.tribe.label }}</label>
            <div class="form-search">{{ form.tribe }}</div>
        </div>
        <div class="col">
            <label class="search-form-label">{{ form.mechanic.label }}</label>
            <div class="form-search">{{ form.mechanic }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="form-button">
                <span class="button-icon"><i class="fas fa-search"></i></span>
                <span class="button-text">{% trans "Search" %}</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}

{% if cards %}
{% if not is_paginated %}
<div class="my-pagination">
    <div class="my-pagination-block shade">
        <div class="my-pagination-item info">
            <div class="my-page-item disabled"><a>{% trans "Total results" %}: {{ cards.count }}</a></div>
        </div>
    </div>
</div>
{% endif %}
<div class="info-item">
<div class="table-wrapper">
<table class="tablelist" id="tRCL">
    <thead class="darktable">
        <tr>
            <th style="min-width: 30%;">{% trans "Name" %}</th>
            <th style="min-width: 15%;">{% trans "Type" %}</th>
            <th style="min-width: 25%;">{% trans "Class" %}</th>
            <th style="min-width: 35%;">{% trans "Set" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for card in cards %}
        <tr class="{{ card|cclass }} {{ card|rar }} rartext clickable-row">
            <td style="width: 350px; border-right: 1px solid black; {% if card.collectible %}background: no-repeat 107% 30%/80% url({{ card.thumbnail.url }}){% endif %};"><a href="{{ card.get_absolute_url }}" target="_blank" title="{% trans 'Detailed description of' %} {{ card.name }}">{{ card }}</a></td>
            <td>{{ card.get_card_type_display }}</td>
            <td>{% for card_class in card.card_class.all %} {{ card_class }}{% if not forloop.last %} | {% endif %}{% endfor %}</td>
            <td>{{ card.card_set }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% else %}
<div class="center-wrapper">
    <div class="info-item">{% trans "No cards found..." %}</div>
</div>
{% endif %}
{% endblock %}
