{% extends "core/base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="center-wrapper">
  <form method="post">
    {% csrf_token %}
    <div class="info-item common-form-item">
      <div class="common-form-field" style="margin-bottom: 10px;">
        <label class="common-form-label">{{ label }}</label>
        {{ form.email|setcls:"form-input" }}
      </div>
      {% if form.email.errors %}
        <div class="form-error common-form-field">{{ form.email.errors }}</div>
      {% endif %}
      <div class="common-form-field centered">
        <button type="submit" class="form-button">
          <span class="button-icon"><i class="fas fa-key"></i></span>
          <span class="button-text">{% trans "Reset password" %}</span>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
