{% extends "core/base.html" %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block content %}
{% load custom_filters %}

<h1>{% if validlink %}{{ title }}{% else %}{% trans "Password reset failed" %}{% endif %}</h1>

<div class="center-wrapper">
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <div class="info-item common-form-item">
                <div class="common-form-field">
                    <label for="id_new_password1" class="common-form-label">{{ form.new_password1.label }}</label>
                    {{ form.new_password1|setcls:"form-input" }}
                </div>
                <div class="common-form-field" style="margin-bottom: 10px;">
                    <label for="id_new_password2" class="common-form-label">{{ form.new_password2.label }}</label>
                    {{ form.new_password2|setcls:"form-input" }}
                </div>
                <div class="form-error common-form-field">{{ form.new_password1.errors }}</div>
                <div class="form-error common-form-field">{{ form.new_password2.errors }}</div>
                <div class="common-form-field centered">
                    <button type="submit" class="form-button form-button-green">
                        <span class="button-icon"><i class="far fa-check-square"></i></span>
                        <span class="button-text">{% trans "Confirm" %}</span>
                    </button>
                </div>
            </div>
        </form>
    {% else %}
        <div class="info-item">{% trans "The password reset link is invalid. You can try to request a reset again." %}</div>
    {% endif %}
</div>
{% endblock %}
