{% extends "core/base.html" %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block content %}
<h1>{{ title }}</h1>
<div class="center-wrapper">
  <div class="info-item">
    <div class="centered">{% trans "The password was successfully changed." %}</div>
    <div class="common-form-item">
    <div class="common-form-field centered">
        <a role="button" href="{% url 'accounts:signin' %}" class="form-button form-button-green">
            <span class="button-icon"><i class="fas fa-sign-in-alt"></i></span>
            <span class="button-text">{% trans "Login again" %}</span>
        </a>
    </div>
    </div>
  </div>
</div>
{% endblock %}