{% extends 'core/base.html' %}
{% load custom_filters %}
{% block title %}{{ title|mktitle }}{% endblock %}
{% load i18n %}

{% block content %}
<h1>{{ title }}</h1>

{% if next %}
<div class="center-wrapper">
    <div class="info-item">
    {% if user.is_authenticated %}
      <div>{% trans "Your account does not have permission to access this page." %}</div>
    {% else %}
      <div>{% trans "Log in to access this page" %}</div>
    {% endif %}
    </div>
</div>
{% endif %}

<div class="center-wrapper">
    <form method="post">
        {% csrf_token %}
        <div class="info-item common-form-item">
            {% for f in form %}
                <div class="common-form-field">
                    <label class="common-form-label">{{ f.label }}</label>{{ f }}
                </div>
                <div class="form-error common-form-field">{{ f.errors }}</div>
            {% endfor %}
            <div class="common-form-field">
            <button type="submit" class="form-button form-button-green">
                <span class="button-icon"><i class="fas fa-sign-in-alt"></i></span>
                <span class="button-text">{% trans "Sign in" %}</span>
            </button>
            <a role="button" class="form-button" href="{% url 'accounts:change_password' %}">
                <span class="button-icon"><i class="fas fa-key"></i></span>
                <span class="button-text">{% trans "Forgot password?" %}</span>
            </a>
            </div>
        </div>
    </form>
</div>
<div class="center-wrapper">
    <div class="form-error">{{ form.non_field_errors }}</div>
</div>
{% endblock %}